body {
    font-family: 'Avenir', sans-serif;
    background-color: #303E4D;
    text-align: center;
    font-size: 15px;
    margin-top: 42px;
}

h2 {
    color: #C9CCCC;
    font-weight: 400;
    font-size: 20px;
}

button {
    border: none;
    background: none;
    color: #C9CCCC;
    opacity: 0.7;
    margin-right: 15px;
    font-size: 15px;
    font-family: 'Avenir', sans-serif;
    padding: 0;
}
button:hover {
    cursor: pointer;
    color: white;
}

input {
    width: 300px;
    height: 25px;
    color: inherit;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    border: none;
}
input:focus {
    outline: none !important;
    color: black;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    border-spacing: 15px 0;
}
table td {
    color: inherit;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    background-color: white;
}
table td:hover {
    cursor: pointer;
    background-color: #1E9D74;
}
table td.is-selected {
    background-color: #1E9D74;
}

#sev-1:hover,
#sev-1.is-selected {
    background-color: #ff4d3d;
}
#sev-2:hover,
#sev-2.is-selected {
    background-color: #ff9e53;
}

.error {
    display: none;
    color: red;
}
.error.is-shown {
    display: block;
}
